*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.taskdiv{
   
    display: flex;
    justify-content: center;
}

.taskform{
border: 1px solid lightblue;
padding: 20px;
width: 300px;
background-color: aliceblue;
border-radius: 30px;
margin:20px;
}